.main__content.signup__page {
    max-width: 750px; 
    line-height: 30px; 
    margin: 0 auto 30px auto; 
    padding: 30px;
}

.main__content.signup__page .page__title {
    margin: 30px 0;
    text-align: center;  
}

.signup__form {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    max-width: 420px; 
    margin: 0 auto;  
}

#signupfname,
#signuplname,
#signupemail,
#signuppassword {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #58595b;  
}

#sendsignup {
    width: 125px;
    height: 45px; 
    padding: 15px;  
    font-weight: 900;
    color: white;
    background-color: black;  
    border: none;  
    margin-right: 20px;
}

#sendsignup:hover {
    background-color: #b48579; 
    cursor: pointer; 
}

.signup__form .additional__details {
    display: flex; 
}

.signup__form .additional__details p {
    margin: 0; 
    font-size: 14px;
    line-height: 22px;
}

.signup__form .additional__details a {
    text-decoration: underline; 
    color: #b48579; 
}

.signup__form span {
    margin-bottom: 20px; 
}

.signup__form input[type=checkbox] {
    transform: scale(1.25);
    margin-right: 5px; 
}

@media only screen and (max-width: 475px) {
    .signup__form .additional__details {
        flex-direction: column; 
    }
    .signup__form .additional__details div {
        margin-top: 20px; 
    }
}